@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}
body {
  transition: all 1s ease-out;
  transition-property: color, background-color, border-radius;
}

body[dir="rtl"] {
  --toastify-font-family: "iranSans";
  overflow: hidden;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}


html[data-theme="dark"] code[class*="language-"], pre[class*="language-"] {
   color: #fff !important;
}

html[data-theme="light"] code[class*="language-"], pre[class*="language-"] {
  color: #000 !important;
}

body[dir="rtl"]::before {
  content: "";
  width: 10rem;
  height: 20rem;
  background-color: #c7ff80;
  position: absolute;
  filter: blur(100px);
  top: 30%;
  right: 0;
  left: auto;
}

body::before {
  content: "";
  width: 10rem;
  height: 20rem;
  background-color: #c7ff80;
  position: absolute;
  filter: blur(100px);
  top: 30%;
  left: 0;
  right: auto;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #c7ff80;
  color: #000;
  border-radius: 0px;
  padding: 0;
}

pre[class*="language-"],
code[class*="language-"] {
    background: transparent !important; /* بک‌گراند را شفاف کنید */
    border: none; /* حذف حاشیه‌ها */
}

/* body[dir="rtl"]>::after
{
  --secondary:"#12130f";
  content: '';
  background-image: url("../assets/images/pattern.svg");
  background-repeat: no-repeat;
  height: 500px;
  width: 282px;
  background-size: contain;
  z-index: -10;
  position: absolute;
  transform: rotate(360deg);
  transform:scaleX(-1);
  top: 10%;
  right: 0px;
  left: auto;
} */
